/*  */

.remove_button_style,    .remove_button_style:hover,  .remove_button_style:active,  .remove_button_style:focus 
{
    background  :   none        !important;
    color       :   inherit     !important;
    border      :   none        !important;
    padding     :   0           !important;
    font        :   inherit     !important;
    cursor      :   pointer     !important;
    outline     :   inherit     !important;
}

/*  */

.primary {
    color               :   white       !important;
    background-color    :   #A25CFF     !important;
}

.border_primary {
    border              :   none        !important;
    outline             :   none        !important;
}

/*  */

/* Loading */

.center_screen {
    position        :   fixed   ;
    top             :   45%     ;

    width           :   100%    ;

    margin          :   auto    ;
}

#loading_screen {
    position        :   fixed;

    width           :   100%;
    height          :   100%;

    z-index         :   99999;

    background      : rgba(255, 255, 255, 0.1);
    backdrop-filter :   blur(5px);
}

/*  */

.page-item.active .page-link {
    background-color    : #A25CFF   !important;
    border-color        : #A25CFF   !important;
}

/*  */

@media (min-width: 1200px)
{
    .modal-xl {

        --bs-modal-width    : 91%         !important;
    }
}

/*  */

.mdi_upload_client::before {
    font-size   : 55px          !important; /* Set the desired icon size */
    color       : #A25CFF     !important; /* Set the desired icon color */
}

/*  */

.display_none {

    display     : none;
}

/*  */

.clickable_table tr {

    cursor      : pointer;
}