/*  */

.text_light_green {
    color               :   #1BCFB4 !important; 
}

.bg_light_green {
    background-color    :   #1BCFB4 !important; 
}

/*  */

.text_light_purple {
    color               :   #B66DFF !important;
}

.bg_light_purple {
    background-color    :   #B66DFF !important;
}

/*  */

.text_light_yellow {
    color               :   #FED713 !important;
}

.bg_light_yellow {
    background-color    :   #FED713 !important;
}

/*  */

.text_light_red {
    color               :   #FE7C96 !important;
}

.bg_light_red {
    background-color    :   #FE7C96 !important;
}

/*  */

.text_light_blue {
    color               :   #198AE3 !important;
}

.bg_light_blue {
    background-color    :   #198AE3 !important;
}

/*  */

.text_light_primary {
    color               :   #D7481F !important;
}

.bg_light_primary {
    background-color    :   #D7481F !important;
}


/*  */

p {
   line-height    :  1rem;
}

.card {
   padding        :  20px;
}

.form-group input{
   margin-bottom  :  20px;
}

/*  */

.card-img-absolute {
    top           :  0;
    left          :  0;
    right         :  100%;
    transform     :  scaleX(-1);
}

/*  */

.active_item {

    color         :   #D7481F   !important;
}

/*  */

.expanded_modal {

    max-width       :   100%        !important;
    margin-left     :   1.75rem     !important;
    margin-right    :   1.75rem     !important;
}


.swal2-container {

    z-index         :   99999999    !important;
}

/*  */

/*  */

input:focus, .form-control:focus {
    outline         : none !important; /* Removes default focus outline */
    border          : 2px solid #D7481F !important; /* Change the border color */
    border-radius   : 4px !important; /* Optional: add some rounded corners */
    color           : #D7481F !important;
    box-shadow      : rgba(215, 72, 31, 0.35) 0px 5px 15px !important;
}

select:focus, .form-select:focus {
    outline         : none !important; /* Removes default focus outline */
    border          : 2px solid #D7481F !important; /* Change the border color */
    border-radius   : 4px !important; /* Optional: add some rounded corners */
    color           : #D7481F !important;
    box-shadow      : rgba(215, 72, 31, 0.35) 0px 5px 15px !important;
}

.text_primary {
    color           : #D7481F !important;
}

.btn-primary {

    color           : white !important;
    background-color: #D7481F !important;
    border-color    : #D7481F !important;
    box-shadow      : rgba(215, 72, 31, 0.35) 0px 5px 15px !important; /* Optional: add a glow effect */
}

.bg-gradient-primary{
    background      : -webkit-gradient(linear,left top,right top,from(#D7481F),to(#D7481F));
    background      : linear-gradient(90deg,#D7481F,#D7481F)
}

.page-title .page-title-icon {
    -webkit-box-shadow: 0 3px 8.3px .7px rgba(215, 72, 31, 0.35);
    box-shadow: 0 3px 8.3px .7px rgba(215, 72, 31, 0.35);
}

/*  */

.form-check-primary.form-check label input[type=checkbox]+.input-helper:before,
.form-check-primary.form-check label input[type=radio]+.input-helper:before {
	border-color: #D7481F
}

.navbar.horizontal-boxed-layout-navbar .navbar-middle .nav-pills .nav-item .nav-link.active {
	background: -webkit-gradient(linear, left top, right top, from(#D7481F), to(#D7481F));
	background: linear-gradient(90deg, #D7481F, #D7481F);

	-webkit-box-shadow: 0 3px 8.3px .7px rgba(215, 72, 31, 0.35);
	box-shadow: 0 3px 8.3px .7px rgba(215, 72, 31, 0.35);
}

.navbar.horizontal-boxed-layout-navbar .navbar-bottom {
	background: -webkit-gradient(linear, left top, right top, from(#D7481F), to(#D7481F));
	background: linear-gradient(90deg, #D7481F, #D7481F);

	-webkit-box-shadow: 0 3px 8.3px .7px rgba(215, 72, 31, 0.35);
	box-shadow: 0 3px 8.3px .7px rgba(215, 72, 31, 0.35);
}

.bg-gradient-primary {
	background: -webkit-gradient(linear, left top, right top, from(#D7481F), to(#D7481F));
	background: linear-gradient(90deg, #D7481F, #D7481F)
}

.badge-gradient-primary {
	background: -webkit-gradient(linear, left top, right top, from(#D7481F), to(#D7481F));
	background: linear-gradient(90deg, #D7481F, #D7481F);
}

.btn-outline-primary:active, .btn-outline-primary:focus, .btn-outline-primary:hover {
	background: -webkit-gradient(linear, left top, right top, from(#D7481F), to(#D7481F));
	background: linear-gradient(90deg, #D7481F, #D7481F);
}

.btn-gradient-primary {
	background: -webkit-gradient(linear, left top, right top, from(#D7481F), to(#D7481F)) !important;
	background: linear-gradient(90deg, #D7481F, #D7481F) !important;
}

.btn-gradient-primary:not([disabled]):not(.disabled).active,
.btn-gradient-primary:not([disabled]):not(.disabled):active,
.show>.btn-gradient-primary.dropdown-toggle {
	background: -webkit-gradient(linear, left top, right top, from(#D7481F), to(#D7481F));
	background: linear-gradient(90deg, #D7481F, #D7481F)
}

.form-check .form-check-label input[type=checkbox]:checked+.input-helper:before {
	background: -webkit-gradient(linear, left top, right top, from(#D7481F), to(#D7481F));
	background: linear-gradient(90deg, #D7481F, #D7481F);
}

.form-check .form-check-label input[type=radio]:checked+.input-helper:before {
	background: -webkit-gradient(linear, left top, right top, from(#D7481F), to(#D7481F));
	background: linear-gradient(90deg, #D7481F, #D7481F);
}

.form-check-primary.form-check label input[type=checkbox]:checked+.input-helper:before,
.form-check-primary.form-check label input[type=radio]:checked+.input-helper:before {
	background: -webkit-gradient(linear, left top, right top, from(#D7481F), to(#D7481F));
	background: linear-gradient(90deg, #D7481F, #D7481F)
}

.gradient-bullet-list li:nth-child(5):before {
	background: -webkit-gradient(linear, left top, right top, from(#D7481F), to(#D7481F));
	background: linear-gradient(90deg, #D7481F, #D7481F)
}

/*  */

