.dataTables_scrollHeadInner thead .sorting:before,
.dataTables_scrollHeadInner thead .sorting_asc:before,
.dataTables_scrollHeadInner thead .sorting_desc:before,
.dataTables_scrollHeadInner thead .sorting_asc_disabled:before,
.dataTables_scrollHeadInner thead .sorting_desc_disabled:before {
    right         :   0   !important;
    content       :   ""  !important;
}
.dataTables_scrollHeadInner thead .sorting:after,
.dataTables_scrollHeadInner thead .sorting_asc:after,
.dataTables_scrollHeadInner thead .sorting_desc:after,
.dataTables_scrollHeadInner thead .sorting_asc_disabled:after,
.dataTables_scrollHeadInner thead .sorting_desc_disabled:after {
    right         :   0   !important;
    content       :   ""  !important;
}

.dataTables_scrollHeadInner thead th {
    position            : relative;
    background-image    : none !important;
}
  
.dataTables_scrollHeadInner thead th.sorting:after,
.dataTables_scrollHeadInner thead th.sorting_asc:after,
.dataTables_scrollHeadInner thead th.sorting_desc:after {
    position    : absolute      !important;
    top         : 12px          !important;
    right       : 8px           !important;
    display     : block         !important;
    font-family : FontAwesome   !important;
}

.dataTables_scrollHeadInner thead th.sorting:after {
    content     : "\f063"   !important;
    color       : #ddd    !important;
    font-size   : 0.8em     !important;
    padding-top : 0.12em    !important;
}

.dataTables_scrollHeadInner thead th.sorting_asc:after {
    content     : "\f062"   !important;
    color       : #2c78bd !important;
}

.dataTables_scrollHeadInner thead th.sorting_desc:after {
    content     : "\f063"   !important;
    color       : #2c78bd !important;
}

/*  */

.dataTables_filter {
    display         :   none;
}


.dataTables_info {
    display         :   none;
}

/*  */

.dt-buttons {
    float           :   right;
}

.dt-buttons {
    margin-bottom   :   25px;
    margin-right    :   15px;
}

.dt-buttons .btn {
    width           :   35px;
    height          :   35px;
}

/*  */

.active_row {    
    background-color: #2c78bd   !important;
    color           : white     !important;
}

/*  */

.dataTables_paginate {
    margin-top      :   25px;
    margin-right    :   15px;
}

.dataTables_paginate .current-page {
    display: inline-block;
    padding: 5px 10px;
    color: #333;
    font-weight: bold;
}

.dataTables_paginate .disabled {
    opacity: 0.5;
    pointer-events: none;
}

.dataTables_paginate .pagination {
    float: right;
}

/*  */

